<head>
  <title>Nova</title>
</head>

<body ng-app="nova">
  <div class="header">
    <div class="logo">Nova</div>
    <div class="slogan">Collaborative Canvas</div>
  </div>
  <div ng-controller="ViewController" ng-switch="viewState">
    <div ng-switch-when="lobby">
      <div class="lobby container" ng-controller="LobbyController">
        <div class="create-room">
          <button class="btn btn-md btn-success" ng-click="createRoom()">Create Room</button>
        </div>
        <hr/>
        <div class="join-room">
          <form novalidate ng-submit="joinRoom()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Room ID" ng-model="roomId">
              <button class="btn btn-md btn-primary" type="submit">Join Room</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-switch-when="room">
      <div class="room container" ng-controller="RoomController">
        <h2 ng-bind="currentRoom.name"></h2>
        <h5>ID: {{currentRoom._id}}</h5>
        <button class="btn btn-xs btn-default" ng-click="leaveRoom()">Leave Room</button>
        <button class="btn btn-xs btn-primary"
            type="button"
            ng-disabled="isUploading"
            ng-file-select
            ng-file-change="uploadImage($files)">
          Upload Image
        </button>
        <div class="room-canvas">
          <div class="sprite" ng-repeat="sprite in sprites" jqyoui-draggable="{animate:true}">
            <cl-image
                public-id="{{sprite.imageCode}}"
                format="png"
                quality="100">
            </cl-image>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
